* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    box-shadow: .5vh .5vh .5vh lightgray;
    padding: .5%;
    font-size: 20px;
}

header>p {
    width: 50%;
    margin: auto;
}

main {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 10%;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition-duration: .3s;
}

button:hover {
    transform: scale(1.2);
    transition-duration: .3s;
}

table {
    margin-top: 10%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
}

th {
    float: inline-start;
    padding: 10px;
}

td {
    padding: 1%;
    background-color: #E3E3E3;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #0000001A;
}

td:hover {
    background-color: darkgray;
}

td>button {
    float: inline-end;
    font-size: 1.2em;
    cursor: pointer;
}

input[type="number"],
select {
    border: none;
    background-color: #2E0039;
    color: white;
}

select {
    width: 100%;
    cursor: pointer;
    border-bottom: 2px solid white;

}

input[type="number"] {
    border-bottom: 2px solid white;
    text-align: end;
    appearance: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

label {
    font-size: .7em;
}

option {
    background-color: #2E0039;
    margin: 1%;
}

footer {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    background-color: #2E0039;
    color: white;
    padding: 1%;
}

footer>div{
    width: 50%;
}


footer>div:first-of-type {
    
    text-align: end;
    padding-right: 1%;
}

footer>div:nth-of-type(2) {
    text-align: start;
    padding-left: 1%;
}

a,
a:visited {
    width:100%;
    font-size: 12px;
    line-height: 18px;
    margin: 1%;
    text-decoration: none;
    color: white;
}


#title {
    color: #2E0039;
}

#title::before {
    background-image: url("../images/arrow_conversion_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    top: 11px;
    content: "";
}

#conversor {
    color: white;
    background-color: #2E0039;
    margin: auto;
    border-radius: 21px;
    padding-right: 15%;
}

#select_parent {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

#output_text {
    float: right;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.padding-small {
    padding: 1%;
}

.padding-mid {
    padding: 2%;
}

.padding-large {
    padding: 4%;
}

.padding-between {
    padding-top: 2%;
    padding-bottom: 2%;
}

.margin-between {
    margin-top: 2%;
    margin-bottom: 2%;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

@media (max-width: 600px) {
    main {
        width: 90%;
    }

    div.flex-row {
        flex-direction: column;
    }

    #select_parent {
        width: 100%;
    }

    input[type="number"] {
        width: 88%;
    }

    td {
        display: inline-block;
        width: 100%;
        margin: 1%;
    }

}

@media (min-width: 300px) and (max-width: 370px) {
    input[type="number"] {
        width: 80%;
    }
}