* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

button {
    background: none;
    border: none;
    cursor:pointer;
    transform: scale(1);
    transition-duration: .3s;
}

button:hover{
    transform: scale(1.2);
    transition-duration: .3s;
}


header {
    box-shadow: .5vh .5vh .5vh lightgray;
    padding: .5%;
    font-size: 20px;
}

header>div {
    width: 50%;
    margin: auto;
}

#title {
    color: #2E0039;
}

#title::before {
    background-image: url("../images/arrow_conversion_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    top: 11px;
    content: "";
}

main {
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

#conversor {
    color: white;
    background-color: #2E0039;
    margin: auto;
    border-radius: 15px;
    padding-right: 15%;
}

input[type="text"],
select {
    border: none;
    background-color: #2E0039;
    color: white;
}

select {
    width: 100%;
    cursor:pointer;
}

input[type="text"] {
    border-bottom: 2px solid white;
    text-align: end;
}

label {
    font-size: .7em;
}


#select_parent {
    border-bottom: 2px solid white;
    width: 40%;
}

#select_parent::after {
    background-image: url("../images/arrow_conversion_icon_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    position: fixed;
    width: 24px;
    height: 24px;
    content: "";
}

option {
    background-color: #2E0039;
    margin: 1%;
}

#output_text {
    float: right;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.padding-small {
    padding: 1%;
}

.padding-mid {
    padding: 2%;
}

.padding-large {
    padding: 4%;
}

.padding-between {
    padding-top: 2%;
    padding-bottom: 2%;
}

.margin-between {
    margin-top: 2%;
    margin-bottom: 2%;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}